## On this day : Get historical events in python


Author : pyGuru

Visit pyGuru on youtube for more awesome content

In [0]:
import requests
from bs4 import BeautifulSoup

date = str(22)
month = 'march'
url = 'https://www.onthisday.com/day/'+ month + '/' + date

r = requests.get(url)

html = r.text
soup = BeautifulSoup(html,'html.parser')

Get webpage title

In [0]:
print(soup.title.text)

March 22 - What Happened - On This Day

Important Events

In [0]:
divs = soup.find_all('ul',class_='event-list event-list--with-advert')
for i in divs:
	print(i.text,end='')

1622 First American Indian (Powhatan) massacre of Europeans in Jamestown Virginia, 347 killed
1765 Stamp Act passed; 1st direct British tax on American colonists, organized by Prime Minister George Grenville

1784 The Emerald Buddha is moved with great ceremony to its current place in Wat Phra Kaew, Thailand
1832 British Parliament, led by Charles Grey, passes the Reform Act, introducing wide-ranging changes to electoral system of England and Wales, increasing electorate from about 500,000 voters to 813,000
1954 Northland Center, the world's largest shopping mall of the time, opens in Oakpark, Michigan
1965 US confirms its troops used chemical warfare against the Vietcong
2018 US President Donald Trump imposes $60 billion worth of tariffs on Chinese imports

Famous Birthdays

In [0]:
birthdays = soup.find('ul',class_='photo-list')
bdays = birthdays.find_all('li')
for i in bdays:
	print(i.text)

Robert A. Millikan(1868 - 1953)
Emilio Aguinaldo(1869 - 1964)
William Shatner89 Years Old
Andrew Lloyd Webber72 Years Old
Reese Witherspoon44 Years Old
Constance Wu38 Years Old

This day in movies, music and sports

In [0]:
check = soup.find_all('section',class_='grid__item one-half--1024')
for i in check:
	print(i.text)

March 22 in Film & TV

1895 Auguste & Louis Lumiere show their 1st movie to an invited audience



March 22 in Music

1963 Beatles release 1st album, "Please Please Me"



March 22 in Sport

1896 Charilaos Vasilakos of Greece wins 1st modern marathon in 3:18 at the Panhellenic Games



Famous Weddings

1916 British author "The Lord of the Rings", J.R.R. Tolkien marries Edith Mary Bratt at St. Mary Immaculate Roman Catholic Church, Warwick
1984 Composer Andrew Lloyd Webber (36) weds singer/dancer Sarah Brightman (23) in Hampshire, England
1992 Record producer Lou Adler weds Paige Hannah (Daryl's sister)



Famous Divorces

1948 Musician Nat King Cole (29) divorces dancer Nadine Robinson after 11 years of marriage

Random fact related to this day

In [14]:
did_you_know = soup.find_all('section',class_='section section--highlight section--did-you-know')
for i in did_you_know:
    print(i.text)

Did You Know?
The St. Petersburgâ€“Tampa Airboat Line becomes the world's first scheduled airline
On March 22, 1914




Would You Believe?
Niagera Falls runs out of water because of a drought
On March 22, 1903